.visible{
visibility: visible;
}

.invisible{
    visibility: hidden;
    display: none;
}

.autocomplete-item{
    cursor: pointer;
    list-style-type:none
}

.autocomplete-list{
    background-color:white ;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
}