.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 18px 23px 14px -12px rgba(7, 7, 7, 0.2);
}
.last-wrapper {
  box-shadow: 18px 23px 14px -12px rgba(10, 101, 126, 0.7);
}

.user_name {
  color: rgb(10, 101, 126);
  text-align: center;
}

.text-contener {
  padding: 10px;
}
.user_category {
  font-weight: bold;
  color: #0a657e;
}
